services:
  accountsdb:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: bank_account
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Admin
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - sereynetwork
  rabbit:
    image: rabbitmq:3.12-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    networks:
      - sereynetwork
  configserver:
    image: sereybank/configserver:v2
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8071/application/default"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    ports:
      - "8071:8071"
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      SPRING_RABBITMQ_HOST: rabbit
    networks:
      - sereynetwork
  account:
    image: sereybank/account:v2
    ports:
      - "8080:8080"
    networks:
      - sereynetwork
    depends_on:
      accountsdb:
        condition: service_healthy
      configserver:
        condition: service_healthy
      rabbit:
        condition: service_healthy
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      SPRING_RABBITMQ_HOST: rabbit
      SPRING_DATASOURCE_URL: jdbc:postgresql://accountsdb:5432/bank_account
networks:
  sereynetwork: